.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 5rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: rgb(20, 20, 20);
    font-size: large;
}
.header-menu :hover{
    cursor: pointer;
    color: var(--orange);
}
.home-link{
    
    position: absolute;
    border-style:solid;
    border-radius: 5px;
    border-color: whitesmoke;
    border-width: 10px;
    right: 5rem;
    top: 2rem;
    background-color: whitesmoke;
    text-decoration: none;
    color: rgb(0, 0, 0);    
}
